.legal-link-container {
  width: 80%;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  a {
    text-decoration: none;
    p {
      font-size: 12px;
      color: #fff;
    }
  }
}
@media (min-width: 768px) {
  .legal-link-container {
    width: auto;
  }
}
