* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//FONTS

@font-face {
  font-family: "gomad-title";
  src: url("./assets/fonts/CircularStd-Bold.otf");
}

@font-face {
  font-family: "gomad-mid-title";
  src: url("./assets/fonts/CircularStd-Medium.ttf");
}

@font-face {
  font-family: "gomad";
  src: url("./assets/fonts/CircularStd-Book.otf");
}

h1,
h2 {
  font-family: "gomad-title";
  color: #8f8d92;
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 76px;
  color: #5e6a55;
}

h2 {
  font-size: 41px;
  color: #79a86b;
}

h3,
h4,
h5,
h6 {
  font-family: "gomad-mid-title";
  color: #525252;
  font-weight: 100;
}

h3 {
  font-size: 30px;
}

p {
  font-family: "gomad";
  color: #525252;
  margin: 0;
  line-height: 25px;
}

span {
  background-color: #ececec;
  padding: 1px 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 102px;
  }
  h2 {
    font-size: 55px;
  }
  p {
    font-size: 19px;  
    line-height: 26px;
  }
}
